# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Personal Notes
EHS_Day_Wise_Plan.md